<c-row class="justify-content-center">
  <c-col md="6">
    <c-card class="p-3">
      <c-card-body>
        <form cForm [formGroup]="form">
          <c-row class="justify-content-center text-center">
            <p class="text-medium-emphasis">Registro de Asistencia</p>

            <c-input-group class="mb-6">
              <c-input-group style="color: black" class="mb-3">
                <h6>¿Puede votar?</h6>
              </c-input-group>
              <c-multi-select selectionType="text" formControlName="canVoteSelect" id="canVoteSelect"
                              [options]="(optionsCanVote$ | async) ?? []"
                              placeholder="¿Puede Votar? "
                              [(ngModel)]="canVote"
                              (searchValueChange)="searchValueCanVote$.next($event)"
                              class="form-control">
                <c-multi-select-option *ngFor="let option of optionsCanVote$ | async"
                                       [value]="option.value">
                  <svg [cIcon]="icons.cil-speak" class="me-1" />
                  {{ option.label }}
                </c-multi-select-option>
              </c-multi-select>

              <c-input-group class="mb-6">
                <c-input-group style="color: red" class="mb-3">
                  <h6 *ngIf="form.get('canVoteSelect')?.hasError('required') && form.get('canVoteSelect')?.touched">
                    Requiere que indique si el propietario puede votar.
                  </h6>
                </c-input-group>
              </c-input-group>

            </c-input-group>

            <c-input-group class="mb-6">
              <c-input-group style="color: black" class="mb-3">
                <h6>Casa #</h6>
              </c-input-group>
              <c-multi-select selectionType="text" formControlName="unitsSelect" id="unitsSelect"
                              [options]="(optionsUnit$ | async) ?? []"
                              placeholder="Casa #"
                              [(ngModel)]="unitId"
                              (searchValueChange)="searchValueUnit$.next($event)"
                              class="form-control">
                <c-multi-select-option *ngFor="let option of optionsUnit$ | async"
                                       [value]="option.value">
                  <svg [cIcon]="icons.cil-speak" class="me-1" />
                  {{ option.label }}
                </c-multi-select-option>
              </c-multi-select>

              <c-input-group style="color: red" class="mb-3">
                <h6 *ngIf="form.get('unitsSelect')?.hasError('required') && form.get('unitsSelect')?.touched">
                  El # de Casa es requerido.
                </h6>
                <h6 *ngIf="form.get('unitsSelect')?.hasError('min') && form.get('unitsSelect')?.touched">
                  El # de Casa no puede ser menor que {{ form.get('unitsSelect')?.getError('min') }}.
                </h6>
                <h6 *ngIf="form.get('unitsSelect')?.hasError('max') && form.get('unitsSelect')?.touched">
                  El # de Casa no puede ser mayor que {{ form.get('unitsSelect')?.getError('max') }}.
                </h6>
              </c-input-group>

            </c-input-group>

            <c-input-group class="mb-6">
              <c-input-group style="color: black" class="mb-3">
                <h6>Fecha de Asamblea</h6>
              </c-input-group>
              <c-multi-select selectionType="text" formControlName="meetingsSelect" id="meetingsSelect"
                              [options]="(optionsMeeting$ | async) ?? []"
                              placeholder="Fecha de Asamblea"
                              [(ngModel)]="meetingId"
                              (searchValueChange)="searchValueMeeting$.next($event)"
                              class="form-control">
                <c-multi-select-option *ngFor="let option of optionsMeeting$ | async"
                                       [value]="option.value">
                  <svg [cIcon]="icons.cil-speak" class="me-1" />
                  {{ option.label }}
                </c-multi-select-option>
              </c-multi-select>

              <c-input-group style="color: red" class="mb-3">
                <h6 *ngIf="form.get('meetingsSelect')?.hasError('required') && form.get('meetingsSelect')?.touched">
                  La fecha de la Asamblea es requerida.
                </h6>
              </c-input-group>

            </c-input-group>



            <p></p>
            <c-row class="justify-content-center text-center" style="color:red;" [hidden]="!error">
              <h6>{{this.errorMessage}}</h6>
            </c-row>
            <c-row class="justify-content-center text-center">
              <button cButton class="px-7" color="primary" (click)="createAssistant()">
                Crear
              </button>
            </c-row>
          </c-row>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
