
<c-row class="justify-content-center">
  <c-col md="6">
    <c-card class="p-3">
      <c-card-body>
        <form cForm [formGroup]="form">
          <c-row class="justify-content-center text-center">
            <h6 class="text-medium-emphasis">Creación de Asamblea</h6>

            <h6>Introduce la fecha de la Asamblea</h6>
            <c-date-picker locale="es-ES" formControlName="dateCreated" #dateCreated [(ngModel)]="date" closeOnSelect placeholder="Fecha de Asamblea" cFormControl />

            <p></p>

            <c-row class="justify-content-center text-center" style="color:red;" *ngIf="error">
              <h6>{{ errorMessage }}</h6>
            </c-row>

            <p></p>
            <c-row class="justify-content-center text-center" style="color:darkblue;" [hidden]="!loading">
              <h6>{{this.loadingMessage}}</h6>
            </c-row>

            <c-row class="justify-content-center text-center">
              <button cButton class="px-7" color="primary" (click)="createMeeting()" [disabled]="loading">
                Crear
              </button>
            </c-row>
          </c-row>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
