<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="6">
        <c-card-group>
          <c-card class="p-3">
            <c-card-body>
              <form cForm>
                <c-row class="justify-content-center text-center">
                  <img cImg rounded src="assets/images/ph_monte_bello_logo.svg" style="width: 350px; height: 200px;" />
                  <h4>Cambio de Contraseña</h4>
                  <p class="text-medium-emphasis">Relleno los datos para continuar</p>
                  <c-input-group class="mb-4">
                    <span cInputGroupText>
                      <svg cIcon name="cilLockLocked"></svg>
                    </span>
                    <input name="newPassword" [(ngModel)]="this.newPassword" autoComplete="newPassword"
                           cFormControl
                           placeholder="Nueva Contraseña"
                           type="password" />
                  </c-input-group>
                  <c-input-group class="mb-4">
                    <span cInputGroupText>
                      <svg cIcon name="cilLockLocked"></svg>
                    </span>
                    <input name="newPasswordRepeat" [(ngModel)]="this.newPasswordRepeat" autoComplete="newPasswordRepeat"
                           cFormControl
                           placeholder="Repite Contraseña"
                           type="password" />
                  </c-input-group>
                  <c-row class="justify-content-center text-center" style="color:red;" [hidden]="!error">
                    <h6>{{this.errorMessage}}</h6>
                  </c-row>
                  <p></p>
                  <c-row class="justify-content-center text-center" style="color:darkblue;" [hidden]="!loading">
                    <h6>{{this.loadingMessage}}</h6>
                  </c-row>
                  <c-row class="justify-content-center text-center">
                    <button cButton class="px-7" color="primary" (click)="changePassword()" [disabled]="loading">
                      Ingresar
                    </button>
                  </c-row>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
